@import 'bootstrap';
#terminalbody{
	background-image: url("chrome.jpg");
	margin-top:-11.5%;
}

#maindisplaytitle {
	color: black;
	margin-top: 150px;
	opacity:1;
	
}
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
}


#displaytitlebox {
	background: white;
	width: 90%;
	height: 50px;
	opacity: .95;
	border-radius: 10px;
}

.maindisplay{
	width: 90%;
	height: 618px;
	background-color: #000;
	opacity: .75;
	margin-top: 8px;
	border-radius: 4px;
	
}

	#openexistingloan {
	width: 200px;
	height: 200px;
	background-color: clear;
	display: block;
	position: relative;
	left: -250px;
	top: 50px;
	color:white;

	}
	
		#openexistingloan img {
		
		width: 200px;
		height: 200px;
		opacity: 1;
		margin-bottom: -20px;

		}
	

	#loanrules {
	width: 200px;
	height: 200px;
	background-color: clear;
	display: block;
	position: relative;
	left: 250px;
	top: -155px;
	color: white;

	}

		#loanrules img {
		width:200px;
		height:200px;
		margin-bottom: -10px;
		padding-top: 0px;


		}


	#clientlist {
	width: 200px;
	height: 200px;
	background-color: clear;
	display: block;
	position: relative;
	left: 5px;
	top: -375px;
	color: white;

	}

		#clientlist img {
		width:200px;
		height:200px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 
		
	#graphs {
	width: 200px;
	height: 200px;
	background-color: clear;
	display: block;
	position: relative;
	left: -250px;
	top: -410px;
	color:white;

	}

		#graphs img {
		width:200px;
		height:200px;
		margin-bottom: -20px;
		padding-top: 0px;


		} 


	#createloan {
	width: 200px;
	height: 200px;
	background-color: clear;
	display: block;
	position: relative;
	left: 250px;
	top: -15px;
	color:white;

	}

		#createloan img {
		width:200px;
		height:200px;
		margin-bottom: -10px;
		padding-top: 0px;


		}


