@import 'bootstrap';
	#terminalbody{
	background-image: url("chrome.jpg");
	margin-top:-150px;
	}

	#maindisplaytitle {
	color:#fff;
	margin-top: 150px;
	opacity:1;
	}

	h2{
	padding-top:5px;
	}
	
	.bw {
  	  -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	}
 
	.bw:hover {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    font-size:17px;
    line-height:30px;
    }


	#displaytitlebox {
	background: #000;
	width: 90%;
	height: 50px;
	opacity: .9;
	border-radius: 10px;
	}

	.maindisplay{
	width: 90%;
	height: 618px;
	background-color: #000;
	opacity: .9;
	margin-top: 8px;
	border-radius: 4px;
	}

	#loan1 {
	width: 150px;
	height: 150px;
	background-color: clear;
	display: block;
	position: relative;
	left: -255px;
	top: 90px;
	color:white;
	}
	
		#loan1 img {
		width: 180px;
		height: 180px;
		margin-bottom: 0px;
		padding-top: 0px;
		}
	

	#loan2 {
	width: 150px;
	height: 150px;
	background-color: clear;
	display: block;
	position: relative;
	left: 250px;
	top: -60px;
	color: white;
	}

		#loan2 img {
		width:180px;
		height:180px;
		margin-bottom:0px;
		padding-top: 0px;
		}


	#loan3 {
	width: 200px;
	height: 200px;
	background-color: clear;
	display: block;
	position: relative;
	top: -210px;
	color: white;
	}

		#loan3 img {
		width:180px;
		height:180px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 
		
	#loan4 {
	width: 150px;
	height: 150px;
	background-color: clear;
	display: block;
	position: relative;
	left: 0px;
	top: -140px;
	color:white;
	}

		#loan4 img {
		width:180px;
		height:180px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 


	#loan5 {
	width: 150px;
	height: 150px;
	background-color: clear;
	display: block;
	position: relative;
	left: 250px;
	top: -295px;
	color:white;
	}

		#loan5 img {
		width:180px;
		height:180px;
		margin-bottom: 0px;
		padding-top: 0px;
		}

#legal {
	width: 200px;
	height: 200px;
	background-color: clear;
	display: block;
	position: relative;
	left: -250px;
	top: -440px;
	color:white;
	}

		#legal img {
		width:180px;
		height:180px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 
		
		
@media only screen 
and (min-device-width : 768px) {
	#terminalbody{
	margin-top:-150px;
	}
}

@media only screen and (max-width:960px) and (min-width:720px){
	#terminalbody{
	margin-top:-150px;
	}
}

@media only screen and (max-width:720px){
	#terminalbody{
	margin-top:-150px;
	}
		
	#loan1{
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: -100px;
	top: 80px;
	color:white;
	}
	
		#loan1 img {	
		width: 100px;
		height: 100px;
		margin-bottom: 0px;	
		}

	#loan2 {
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: 100px;
	top: -20px;
	color: white;

	}

		#lona2 img {
		width:100px;
		height:100px;
		margin-bottom: 0px;
		padding-top: 0px;
		}

	#loan3 {
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	top: -120px;
	color: white;
	}

		#loan3 img {
		width:100px;
		height:100px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 
		
	#loan4 {
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: -10px;
	top: 75px;
	color:white;
	}

		#loan4 img {
		width:100px;
		height:100px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 


	#loan5 {
	width:100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: 100px;
	top: -25px;
	color:white;
	}

		#loan5 img {
		width:100px;
		height:100px;
		margin-bottom: 0;
		padding-top: 0px;
		}
	#legal {
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: -110px;
	top: -125px;
	color:white;
	}

		#legal img {
		width:100px;
		height:100px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 
		
		
}



@media only screen and (max-width:480px){
	#terminalbody{
	margin-top:-150px;
	}
	
	#loan1{
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: -100px;
	top: 80px;
	color:white;
	}
	
		#loan1 img {	
		width: 100px;
		height: 100px;
		margin-bottom: 0px;	
		}

	#loan2 {
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: 100px;
	top: -20px;
	color: white;

	}

		#lona2 img {
		width:100px;
		height:100px;
		margin-bottom: 0px;
		padding-top: 0px;
		}

	#loan3 {
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	top: -120px;
	color: white;
	}

		#loan3 img {
		width:100px;
		height:100px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 
		
	#loan4 {
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: -10px;
	top: 75px;
	color:white;
	}

		#loan4 img {
		width:100px;
		height:100px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 


	#loan5 {
	width:100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: 100px;
	top: -25px;
	color:white;
	}

		#loan5 img {
		width:100px;
		height:100px;
		margin-bottom: 0;
		padding-top: 0px;
		}
	#legal {
	width: 100px;
	height: 100px;
	background-color: clear;
	display: block;
	position: relative;
	left: -110px;
	top: -125px;
	color:white;
	}

		#legal img {
		width:100px;
		height:100px;
		margin-bottom: 0px;
		padding-top: 0px;
		} 
		
		
}

