@import 'bootstrap';

	#newloanbody{
	background-image: url("chrome.jpg");
	margin-bottom:30px;
	}
	
	#maindisplaytitle {
	color:#fff;
	margin-top: 200px;
	opacity:1;
	}

	h2{
	padding-top:5px;
	}
	
	.bw {
  	  -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	}
 
	.bw:hover {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    }
    
	.newloanpad{
		background: #efefef;
		padding-left:20px;
		padding-right:35px;
		padding-bottom:50px;
		padding-top:10px;
	}
	.newloanouter-container{
		text-align: center;
	}
	
	.center{
		margin-right:135px;
	}
	
	.newloancontain{
		box-shadow: 10px 10px 5px #888888;
		box-sizing: border-box;
		width: auto;
		max-width: 480px;
		background-color: #efefef; 
		border: 2px solid #333; 
		border-radius: 5px; 
		display:inline-block;
		padding-bottom: 20px;
		margin-top:20px;
		text-align: left;
	}
	
	.newloanheader{
		background: #428bca;
		padding: 15px;
		text-align: center;
	}
	
	#displaytitlebox {
	background: #000;
	width: 90%;
	height: 50px;
	opacity: .9;
	border-radius: 10px;
	}

	.currentloansmaindisplay{
	width: 90%;
	height: 618px;
	background-color: #000;
	opacity: .9;
	margin-top: 8px;
	border-radius: 4px;

	/*  index page*/

.listlineeven {
	background: #428bca;

}

.listlineodd {
	background: #87CEFA;
}

.currentloansindexmaindisplay{
	width: 618px:;
	height: auto;
	background-color: clear;
	opacity: .93;
	background: #efefef;
}

.currentloansindexmaindisplay{
	width: 90%;
	height: 618px;
	background-color: #000;
	opacity: .9;
	margin-top: 8px;
	border-radius: 4px;
	
	

	}


td.loandata {
	width: 45%;

}

td.loandata2 {
	padding-top: 35px;
	
}

#borrowername {
	margin-bottom: -3px;
	margin-top: -3px;
	text-decoration: underline;
}

#listactions {
	padding-left: 15px;
}

#listactions a{
	color: white;

	text-align: right;
	padding-right: 10px;

.loandata {
	width: auto;
}

.list {
	text-align:right;
}

.list a{
	color: #000;
}
.list a:hover{
	color: #333;
	opacity: .6;
}


/*  show page*/
#box1 {
	width:40px;
	height: 40px;
}

.showmaindisplay {
	width: 618px;
	min-height: 800px;
	background-color: white;
	opacity: 1;
	margin-top: 8px;
	border-radius: 4px;
}

#newloanbody{
	background-image: url("chrome.jpg");
	margin-bottom:30px;
	}

#showdisplaytitlebox {
background: #000;
width: 618px;
height: 50px;
opacity: .9;
border-radius: 10px;

#showloansummary {
	width: 598px;

}
	}

.table th, .table td {
padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: bottom;
border-top: 1px solid #dddddd;
}

