@import 'bootstrap';
	#newloanbody{
	background-image: url("chrome.jpg");
	margin-bottom:30px;
	}
	
	#maindisplaytitle {
	color:#fff;
	margin-top: 200px;
	opacity:1;
	}

	h2{
	padding-top:5px;
	}
	
	.bw {
  	  -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	}
 
	.bw:hover {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    }
    
	.newloanpad{
	background: #efefef;
		padding-left:20px;
		padding-right:35px;
		padding-bottom:50px;
		padding-top:10px;
	}
	.newloanouter-container{
		text-align: center;
	}
	
	.newloancontain{
		box-shadow: 10px 10px 5px #888888;
		box-sizing: border-box;
		width: auto;
		max-width: 480px;
		background-color: #FFFFFF; 
		border: 2px solid #333; 
		border-radius: 5px; 
		display:inline-block;
		padding: 0px;
		margin-top:20px;
		text-align: left;
	}
	.newloanheader{
		background: #428bca;
		padding: 15px;
		text-align: center;
	}
	
	#displaytitlebox {
	background: #000;
	width: 90%;
	height: 50px;
	opacity: .9;
	border-radius: 10px;
	}

	.currentloansmaindisplay{
	width: 90%;
	height: 618px;
	background-color: #000;
	opacity: .9;
	margin-top: 8px;
	border-radius: 4px;
	}



